* {
    color: white;
}

ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 2rem;
}

.movie-card {
    width: 50rem;
    background-color: #5C6BC0;
    border-radius: 5%;
    padding: 1rem;
}

.movie-title {
    font-size: 3rem;
}

.movie-image {
    max-height: 40rem;
    max-width: 45rem;
}
